@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@200;300&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #2C70EB;
}

section {
    width: 100%;
    height: 350px;
    margin: 50px 50px;
    padding: 10px;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Mandali, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2C70EB
}

h2 {
    text-align: center;
}

hr {
    border-top: 1px solid rgba(120, 120, 120, 0.2);
    width: 80%;
    border-radius: 1px;
}

/* Menu */


/* Home */

#home {
    width: 100%;
    height: 400px;
}

#home-image {
    background-image: url(../images/home-image.jpg) no-repeat center center;
}

/* What We Offer */



/* About Us */



/* Sign Up */


