@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@200;300&family=Rubik:wght@300&display=swap');


body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #2C70EB;
    width: 100%;
    margin: auto;
}

section {
    width: 100%;
    height: 350px;
    padding: 10px;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Mandali, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2C70EB
}

h2 {
    text-align: center;
}

hr {
    border-top: 1px solid rgba(120, 120, 120, 0.2);
    width: 80%;
    border-radius: 1px;
}

/* Header  Logo & Menu */

#banner {
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: gray
}

h1 {
    margin: auto;
}

header a {
    float: left;
}

#menu {
    float: right;
}

#logo {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

#menu li {
    display:inline;
    margin-right: 10px;
}

#menu a {
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: small;
}

/* Home */

#home {
    width: 100%;
    height: 400px;
}

/* image needs resizing */
#home-image img {
    padding: 10px;
    width: 100%;
    height: 350px;
    background-image: url(../images/home-image.jpg) no-repeat center center;
    background-size: cover;
}

/* What We Offer */



/* About Us */


img {
    width:100%;
    height:450px;
}

picture {
    width:60%;
    float:left;
    margin-right: 50px;
}

#about-us {
    display:inline-block;
    height:auto;
}

/* Sign Up */

form {
    text-align:center;
    height:auto
}

form input {
    display:block;
    margin: 10px 0;
    padding: 4px 4px;
    border: 1px solid blue;
    width: 15%;
    text-align:center;
}

#submit-button {
    margin-top: 15px;
    width: 10%;
    border-radius: 50px;
}

/* Contact */

#contact {
    height:auto
}

#contact div {
    text-align:center;
}


/* Footer */

/* Notes */
/* fixed position may not be working
footer may not be 100% width of browser */

footer {
    padding: 10px;
    width: 100%;
    background-color: gray;
}

footer li {
    display: inline;
    
}

.social-network-links {
    text-align: center;
}


.social-network-links i {
    margin: 0 10px;
}