@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Raleway:wght@200;300&family=Rubik:wght@300&display=swap');


body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #2C70EB;
}

section {
    width: 100%;
    height: 350px;
    margin: 50px 50px;
    padding: 10px;
}

/* headings and logo */

h1, h2, h3 {
    font-family: Mandali, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2C70EB
}

h2 {
    text-align: center;
}

hr {
    border-top: 1px solid rgba(120, 120, 120, 0.2);
    width: 80%;
    border-radius: 1px;
}

/* Header  Logo & Menu */

header {
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    background-color: gray
}

header a {
    float: left;
}

#menu {
    float: right;
}

#logo #menu {
    line-height: 20px;
}

nav ul {
    list-style-type: none;
}

#menu li {
    display:inline;
    margin-right: 10px;
}

#menu a {
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

/* Home */

#home {
    width: 100%;
    height: 400px;
}

/* image needs resizing */
#home-image {
    padding: 10px;
    width: 100%;
    height: 350px;
    background-image: url(../images/home-image.jpg) no-repeat center center;
    background-size: cover;
}

/* What We Offer */



/* About Us */



/* Sign Up */



/* Footer */

/* Notes */
/* fixed position may not be working
footer may not be 100% width of browser */

footer {
    padding: 10px;
    width: 100%;
    height: 10px;
    position: fixed;
    background-color: gray;
}

footer li {
    display: inline;
    
}

.social-network-links {
    text-align: center;
}


.social-network-links i {
    margin: 0 10px;
}